/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html, 
body {
    height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:0.5rem ;
  padding: 2rem;
  background-color: var(--clr-acc-dBlue);

  font-family: var(--ff-primary);
}


.hidden {
  display: none !important;
}

.card-1, .card-2 {
  padding: 1.5rem;
  background-color: var(--clr-acc-blue);
  border-radius: 0.625rem;
}

.img-star {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--clr-acc-mGrey);
}

.heading, .info {
  color: white;
  margin: 0.75rem 0.5rem;
}

.heading {
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
}

.info {
  font-weight: var(--fw-reg);
  color: var(--clr-acc-lGrey);
  font-size: 1rem;
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.5rem;
  
}

.ratings li {
  list-style: none;
  
}

.btn-rating {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: none;
  background-color: var(--clr-acc-mGrey);
  color: white;
  font-family: var(--ff-primary);
  font-size: 0.75rem;
  padding-top: 0.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-rating:hover {
  background-color: var(--clr-prm-orange);
}

.btn-rating:focus {
  background-color: var(--clr-acc-lGrey);
}

.submit {
  background-color: var(--clr-prm-orange);
  width: 100%;
  border: none;
  padding: 0.6rem 0 0.5rem 0;
  border-radius: 1.5rem;
  font-family: var(--ff-primary);
  color: white;
}

.submit:hover {
  background-color: white;
  color: var(--clr-prm-orange);
  transition: 0.3s;
}

.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-2 img {
  display: block;
  margin: 0 auto 1rem auto ;
}

.selected {
  padding: 0.2rem 0.6rem;
  border-radius: 1.5rem;
  color: var(--clr-prm-orange);
  background-color: var(--clr-acc-mGrey);
  font-family: var(--ff-primary);
}

.thank-you {
  font-family: var(--ff-primary);
  color: white;
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.thanks-info {
  text-align: center;
  margin:1rem 0 ;
  color: var(--clr-acc-mGrey);
}

.rate-again {
  width: 100%;
  background-color: var(--clr-prm-orange);
  color: white;
  padding: 0.6rem 0 0.5rem 0;
  border-radius: 1.5rem;
  border: none;
  font-family: var(--ff-primary);
}

.rate-again:hover {
  background-color: white;
  color: var(--clr-prm-orange);
}

@media (min-width:400px) {
  
body {
  max-width: 400px;
  margin: 0 auto;
}

}
